/* Reset margins and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.dashboard-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.horizontal-nav {
  background-color: #333;
  padding: 10px 20px;
  position: relative; /* Ensure relative positioning for absolute children */
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-address-bar {
  flex: 1; /* Takes remaining space */
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 40px;
}

.search-bar button {
  padding: 8px 16px;
  margin-left: 5px;
  background-color: #1d0bbe;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #d41740;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: left; /* Align vertically */
  margin-top : 10px; 
  background-color:  #333;
}


.nav-links li a {
  color: rgb(20, 155, 209);
  text-decoration: none;
  padding: 10px 15px;
  margin-left: 0px;
  margin-right: 2px;
}

.nav-links li a.active {
  background-color: #181a96;
  border-radius: 4px;
}

.nav-links li a:hover {
  background-color: #555;
  border-radius: 4px;
}
.footer {
  background-color: #333;
}
.footer-container {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  background-color: #333;
  color: rgb(15, 141, 64);
  text-align: left;
  margin: 0px 40vh 0px 40vh;
 

}

.footer-column {
  flex: 1;
  margin-right: 20px;

}
.footer-column a{
  color: #fcfcfc;
  justify-content:left;
}
.contact-column {
  text-align: center;
}

.copyright {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 32px;
}
